.italic {
    font-style: italic;
}

.bold {
    font-style: bold;
}

.font-weight-200 {
    font-weight: 200;
}

.shadow-1 {
    .boxshadow-helper(1);
}

.shadow-2 {
    .boxshadow-helper(2);
}

.shadow-3 {
    .boxshadow-helper(3);
}

.portrait {
    width: 200px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.white-font {
    color: white;
}

.black-font {
    color: black;
}

.background {
    background: url("../img/sky.png");
    background-size: cover;
}

.subtitle {
    font-weight: 200;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.no-left-padding {
	padding-left: 0px;
}

.board {
	background-color: white;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: .5em;

	margin-top: 1em;
	margin-bottom: 2em;
}

// .board > img {
// 	margin-left: 0px;
// 	margin-right: 0px;
// }

#home {
    height: 650px;
    margin-top: 0px;
}

#about {
    padding-bottom: 3em;
}

#works {
    padding-bottom: 3em;
}

#contact {
    padding-bottom: 3em;
}

.home-buttons {
    text-align: center;
}

.home-buttons > a {
    .transition(all 0.5s ease);
    background-color: transparent;
    color: white;
    font-size: 18px;
    border-color: white;
    margin: 20px 10px;
}

.home-buttons > a:hover {
    background-color: white;
    color: #688db8;
    border-color: white;
}

.icon-github, .icon-quill {
    margin: 5px;
}